.AboutMe {
  padding: 0 75px;
  background-image: url("../../images/circles/circleAqua.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -250px 0;

  &__title {
    background: transparent;
    font-family: $fontMono;
    padding: 45px 0 25px;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  &__content {
    text-align: justify;
    line-height: 30px;
    &-title {
      background: transparent;
      padding-bottom: 25px;
      @include tablet() {
        font-size: 1.2rem;
      }
    }
    &-paragraph {
      background: transparent;
      padding-bottom: 25px;
      @include allFonts();
    }
  }
}
