.bm {
  &-menu {
    background: linear-gradient($colorNoWhite, $colorBlue, $colorPink2);
    padding: 40px 25px 0;
    font-size: 1.5rem;
  }
  &-burger {
    &-socialsnav {
      display: flex;
      justify-content: flex-start;
      &-item {
        padding: 0 10px;
      }
    }
    &-button {
      position: fixed;
      width: 26px;
      height: 20px;
      left: 36px;
      top: 36px;
    }
    &-bars {
      background: $colorPink;
    }
  }
  &-cross {
    background: $colorAqua;
  }

  &-item {
    font-size: 1.2rem;
    padding: 20px 0;
    color: $colorPink;
    &:hover {
      color: $colorPink2;
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
