.bm {
  &-burger {
    &-button {
      position: fixed;
      width: 26px;
      height: 20px;
      left: 36px;
      top: 36px;
      /* @include tablet() {
        display: none;
      }*/
    }
    &-bars {
      background: $colorPink;
      &:hover {
        background: $colorAqua;
      }
    }
  }
  &-cross {
    background: $colorAqua;
  }
  &-menu {
    background: linear-gradient($colorNoWhite, $colorBlue, $colorPink2);
    padding: 40px 25px 0;
    font-size: 1.5rem;
  }
  &-item {
    padding: 20px 0;
    color: $colorPink;
    &:hover {
      color: $colorPink2;
    }
  }
}
