.goTopHidden {
  display: none;
}

.goTop {
  display: block;
  &__text {
    position: fixed;
    top: 93%;
    left: 90%;
    cursor: pointer;
    border-bottom: 1px dotted $colorNoBlack;
    background: rgba(252, 248, 241, 0.8);
    box-shadow: 2px 2px 5px $colorYellow;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    @include tablet() {
      left: 92%;
    }
    @include desktop() {
      left: 96.5%;
    }
  }
}
