.presentation {
  height: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;

  &__portrait {
    width: 80%;
  }
}

.text-animation {
  align-self: center;
}

.text {
  position: relative;
  font-family: $fontMono;
  font-weight: normal;
  font-size: 0.9rem;
  color: $colorNoBlack;
  overflow: hidden;
  border-right: 0.15em solid $colorNoBlack;
  text-shadow: $colorPink2 0 2px 5px;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 5s steps(35, end), cursor 0.6s step-end infinite;
  margin-top: 30px;

  @include mobileMedium() {
    font-size: 1.5rem;
  }
  @include tablet() {
    font-size: 2rem;
  }
}

@keyframes typing {
  0% {
    width: 0;
    text-shadow: $colorAqua 0 2px 10px;
  }
  50% {
    width: 50%;
    text-shadow: $colorPink 0 2px 10px;
  }
  100% {
    width: 100%;
    text-shadow: $colorYellow 0 2px 10px;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $colorNoBlack;
  }
}
