.presentation {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient($colorNoBlack, $colorPink);

  &__portrait {
    transform: scale(0.5);
  }
}

.text-animation .text {
  font-family: $fontMono;
  font-weight: normal;
  font-size: 0.9rem;
  color: $colorWhite;
  overflow: hidden;
  border-right: 0.15em solid $colorWhite;
  text-shadow: $colorLightPink 0 2px 5px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 5s steps(35, end), cursor 0.6s step-end infinite;

  @include mobileMedium() {
    font-size: 1.5rem;
  }
  @include tablet() {
    font-size: 2rem;
  }
}

@keyframes typing {
  0% {
    width: 0;
    text-shadow: cyan 0 2px 10px;
  }
  50% {
    width: 50%;
    text-shadow: fuchsia 0 2px 10px;
  }
  100% {
    width: 100%;
    text-shadow: yellow 0 2px 10px;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $colorWhite;
  }
}
