.projects {
  background: $colorNoWhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__card {
    width: 50%;
    height: 500px;
    margin-bottom: 50px;

    &-items {
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: $colorPink2 5px 8px 10px;
      border-radius: 25px;
      margin: 25px;
      padding: 25px;

      &:hover {
        box-shadow: $colorBlue 5px 8px 10px;
        transform: scale(1.01);
      }
    }
    &--links {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    &--img {
      width: 250px;
    }
  }
}
