.projectsTitle {
  text-align: center;
  @include titles();
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../images/circles/circleYellow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 300px;

  @include tablet() {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 70px;
    background-position: 400px;
  }
  @include desktop() {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 90px;
    background-position: 1100px;
  }

  &__card {
    width: 70%;
    margin-bottom: 50px;

    @include tablet() {
      width: 50%;
    }
    @include desktop() {
      width: 33%;
    }

    &-items {
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: $colorPink2 2px 5px 10px;
      border-radius: 25px;
      margin: 25px;
      padding: 25px;
      @include tablet() {
        height: 550px;
      }
    }
    &--title {
      text-align: center;
      padding-bottom: 25px;
      font-size: 1.2rem;
    }
    &--description {
      padding-bottom: 25px;
      text-align: justify;
      @include allFonts();
    }
    &--links {
      display: flex;
      width: 100%;
      justify-content: space-around;

      &-icons {
        color: $colorPink;
        font-size: 1.5rem;
        background: rgba(252, 248, 241, 0.8);
        box-shadow: 2px 2px 5px $colorPink2;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        &:hover {
          color: $colorAqua;
          box-shadow: 2px 2px 5px $colorAqua;
          transform: scale(1.05);
        }
      }
    }

    &--img {
      height: 50%;
      width: 100%;
      object-fit: contain;
      border-radius: 10px;
      margin-bottom: 25px;
    }
  }
}
