.tech {
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../images/circles/circlePink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -100px;
  @include tablet() {
    background-position: -50px;
  }
  @include desktop() {
    background: none;
    padding: 0 90px;
  }
  &__title {
    @include titles();
  }
  &__itemsWrap {
    background: url("../../images/circles/circleYellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include tablet() {
      background: none;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorBlue;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    margin: 10px;
  }
}
