//BRAND PALETTE
$colorAqua: #07e8ff;
$colorYellow: #f8c000;
$colorBlue: #a4bfe4;
$colorPink2: #ffa4cb;
$colorNoWhite: #fcf8f1;
$colorPink: #cb0c59;
$colorNoBlack: #080c14;
$colorWhite: white;

//FONTS
$fontMontserrat: "Montserrat", sans-serif;
$fontMono: "DM Mono", monospace;
