//BRAND PALETTE
$colorWhite: white;
$colorDirtyWhite: #b7c1de;
$colorDarkGreen: #06394c;
$colorBlueGray: #6a97b8;
$colorEggplant: #7b1346;
$colorPink: #cb0c59;
$colorSoftPink: #e390ba;
$colorLightPink: #edbcd1;
$colorNoBlack: #080c14;

//FONTS
$fontMontserrat: "Montserrat", sans-serif;
$fontMono: "DM Mono", monospace;
